<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/all.css">
    
    <link rel="stylesheet" href="normilize.css">
</head>
<body>
    <div class="container">


        <!-- page one -->

        <div class="pageone">
            <h1>Sign in </h1>
            <ul>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-linkedin"></i></li>
            </ul>
            <div class="input">
                <p>
                or use your account
                </p>
                <input type="text" placeholder="Your Name " class="name">
                <input type="text" placeholder="Your email">
                <input type="text" placeholder="Your password">
                <p class="none">Forgot your password ?</p>
            </div>
            <button type="button">Sign in </button>
        </div>  


        <!--page two in the project -->

        <div class="pagetwo">
            <h1>Hello Friend !</h1>
            <p>Entre your personal details and start journey with us </p>
            <button type="button" class="btn"> SIGN UP </button>
        </div>
    </div> 
    <script src="js/all.js"></script>
    <script src="script.js"></script>
</body>
</html>